.nav
{
	background: #eeeeee;
	border: 1px solid #dddddd;
}
.gregs_list
{
	font-size: 20px;
	font-family: arial;
}
.horizontal {
	display: inline-block;
	position: absolute;
}
.post
{	
	top: 200px;
	right: 200px;
}
.account
{	
	top: 200px;
	right: 200px;
}
ul
{
	list-style-type: none;
}
.link_post
{
	color: purple;
}

 .link_account
 {
 	color:purple;
 }
 
