.nav
{
	background: #eeeeee;
	border: 1px solid #dddddd;
}
.gregs_list
{
	font-size: 20px;
	font-family: arial;
}
.horizontal {
	display: inline-block;
	position: absolute;
}
.post
{	
	top: 30px;
	right: 30px;
}
.account
{	
	top: 50px;
	right: 30px;
}

.magnifying_glass
{
	border: 1px solid #bbbbbb;

}
.search_box
{
	border: 1px solid #bbbbbb;
}
ul
{
	list-style-type: none;
}
.link_post
{
	color: purple;
}

 .link_account
 {
 	color:purple;
 }
 
